<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"q
                  arguments=".\HackerRank1.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection"
                               value="Host=aws-1-us-east-1.pooler.supabase.com;Database=postgres;Username=postgres.gcofnalgrlwjxrjfssod;Password=8Hq/b8MN8Q+RMze;SSL Mode=Require;Trust Server Certificate=true" />
          <environmentVariable name="Cors__AllowedOrigins__0" value="http://localhost:5173" />
          <environmentVariable name="Cors__AllowedOrigins__1" value="https://examenfinalfrontend.netlify.app/" />
          
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
